.mainTitle {
  background: linear-gradient(to right, white, #f8703a, #f17d51);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center; /* Added text-align property to center align */
}

.paragraph {
  color: #fff5f1;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.img {
  height: auto;
  width: 45%;
  border-radius: 20px;
  margin: 20px auto; /* Updated margin property */
  box-shadow: rgb(38, 38, 38) 0px 0px 20px;
  margin: 10px;
}
.containerTextogImgRevert {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.containerTextogImg {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

@media (max-width: 760px) {
  .containerTextogImg {
    flex-direction: column;
  }
  .img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  .containerTextogImgRevert {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
}

.backIcn {
  margin-top: 40px;
  cursor: pointer;
  font-size: 25px;
  color: #f17d51;
}

.backIcn:hover {
  color: #ff4800;
}
