.container {
  margin-top: 50px;
}

.imgHori {
  height: auto;
  width: 100%;
  border-radius: 20px;
  margin: 20px auto; /* Updated margin property */
  object-fit: cover;
  box-shadow: rgb(38, 38, 38) 0px 0px 20px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.imgLuca {
  height: auto;
  width: 100%;
  border-radius: 20px;
  margin: 20px auto; /* Updated margin property */
  object-fit: cover;
  box-shadow: rgb(38, 38, 38) 0px 0px 20px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.img {
  height: auto;
  width: 100%;
  border-radius: 20px;
  margin: 20px auto; /* Updated margin property */
  object-fit: cover;
  box-shadow: rgb(38, 38, 38) 0px 0px 20px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.mainTitle {
  background: linear-gradient(to right, white, #f8703a, #f17d51);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.subTitle {
  color: #f17d51;
  margin: 20px 0px;
  font-size: 26px;
  text-align: center;
  margin-top: 100px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.paragraph {
  color: #fff5f1;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.containerTextogImg {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 768px) {
  .containerTextogImg {
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .imgHori {
    width: auto;
    height: 300px;
    margin: 0 20px;
  }

  .imgLuca {
    width: auto;
    height: 300px;
    margin: 0 20px;
  }

  .img {
    width: auto;
    height: 500px;
    margin: 0 20px;
  }
}
.animSlideLeft {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.animSlideRight {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.animExpand {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
