.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transform: translate(10%); */
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 40%;
  }
  100% {
    background-position: 0% 60%;
  }
}

.titlePage {
  /* Your existing styles */
  position: relative;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  text-decoration: none;
  background: linear-gradient(90deg, #ffb89c, #ff6325);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 6s infinite;
  background-size: 200% auto;
  -webkit-animation: gradientAnimation 6s infinite;
  -moz-animation: gradientAnimation 6s infinite;
  animation: gradientAnimation 6s infinite;
}
.titlePage:hover {
  background-color: transparent;
  -webkit-text-fill-color: #ff4f09;
}

.sharkImg {
  width: 100%;
}

@media (min-width: 900px) {
  .titlePage {
    font-size: 90px;
  }
}

@media (max-width: 900px) {
  .titlePage {
    font-size: 70px;
  }
}

@media (max-width: 700px) {
  .titlePage {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .titlePage {
    font-size: 50px;
  }
}
.line {
  width: 25%;
  height: 2px;
  background-color: #f17d51;
}
