.mainTitle {
  background: linear-gradient(to right, white, #f8703a, #f17d51);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center; /* Added text-align property to center align */
}

.paragraph {
  color: #fff5f1;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.backIcn {
  margin-top: 40px;
  cursor: pointer;
  font-size: 25px;
  color: #f17d51;
}

.backIcn:hover {
  color: #ff4800;
}

.subTitle {
  color: #f17d51;
  margin: 20px 0px;
  font-size: 26px;
  text-align: center;
  margin-top: 100px;
}

.containerTextandImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  margin-bottom: 120px;
}

.imgCircle {
  width: 45%;
  height: auto;
  border-radius: 50%;
  box-shadow: rgb(38, 38, 38) 0px 0px 20px;
}

.paragraph {
  flex-grow: 1;
  margin-left: 20px;
}

.imgMainPage {
  margin: auto;
  width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: rgb(38, 38, 38) 0px 0px 20px;
}
